<ion-list>
  <ng-container *ngIf="showAdd">
    <button ion-item (click)="add()">{{addText}}</button>
  </ng-container>
  <ng-container *ngIf="showRemove">
    <button ion-item (click)="rm()">{{removeText}}</button>
  </ng-container>
  <ng-container *ngIf="showUpdate">
    <button ion-item (click)="update()">{{updateText}}</button>
  </ng-container>
</ion-list>
