<ion-content padding center text-center>
  <ion-title>O-Medisys</ion-title>
  <ion-grid col-md-4>

    <form [formGroup]="loginForm">
      <ion-row>
        <ion-col>

          <ion-list>
            <ion-item no-lines>
              <ion-label floating>Username</ion-label>
              <ion-input type="text" formControlName="username"></ion-input>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item no-lines>
              <ion-label floating>Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
          </ion-list>

          <button ion-button full (click)="login()">Login</button>
          <button ion-button full color="light" (click)="register()">Register</button>
        </ion-col>
      </ion-row>
    </form>

  </ion-grid>
</ion-content>
