<ion-header>

  <ion-navbar>
    <ion-title>Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding center text-center>
  <ion-grid col-md-6>
    <form [formGroup]="registrationForm">
      <ion-row>
        <ion-col col-md-6>
          <ion-list>
            <ion-item no-lines>
              <ion-label floating>Username</ion-label>
              <ion-input type="text" formControlName="username"></ion-input>
            </ion-item>
            <ion-item *ngIf="registrationForm.controls.username.pending">
              <p>Checking username...</p>
            </ion-item>
            <ion-item *ngIf="registrationForm.controls.username.hasError('required') && registrationForm.controls.username.touched">
              <p>Please provide valid username.</p>
            </ion-item>
            <ion-item *ngIf="!registrationForm.controls.username.valid && !registrationForm.controls.username.pending && !registrationForm.controls.username.hasError('required') && registrationForm.controls.username.touched">
              <p>Username is already taken.</p>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-md-6>
          <ion-list>
            <ion-item no-lines>
              <ion-label floating>Type</ion-label>
              <ion-select ios interface="popover" formControlName="userType">
                <ion-option value="2">Doctor</ion-option>
                <ion-option value="3">Secretary</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-md-6>
          <ion-list>
            <ion-item no-lines>
              <ion-label floating>Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item *ngIf="!registrationForm.controls.password.valid && registrationForm.controls.password.touched">
              <p>Required, minimum of 8 characters.</p>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-md-6>
          <ion-list>
            <ion-item no-lines>
              <ion-label floating>Repeat Password</ion-label>
              <ion-input type="password" formControlName="repassword"></ion-input>
            </ion-item>
            <ion-item *ngIf="registrationForm.hasError('mismatchedPassword') && registrationForm.controls.repassword.touched">
              <p>Password do not match.</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-md-6>
          <ion-list>
            <ion-item no-lines>
              <ion-label floating>First Name</ion-label>
              <ion-input type="text" formControlName="firstname"></ion-input>
            </ion-item>
            <ion-item *ngIf="!registrationForm.controls.firstname.valid  && registrationForm.controls.firstname.touched">
              <p>Please enter a valid first name.</p>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-md-6>
          <ion-list>
            <ion-item no-lines>
              <ion-label floating>Last Name</ion-label>
              <ion-input type="text" formControlName="lastname"></ion-input>
            </ion-item>
            <ion-item *ngIf="!registrationForm.controls.lastname.valid && registrationForm.controls.lastname.touched">
              <p>Please enter a valid last name.</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-md-6>
          <ion-list>
            <ion-item no-lines>
              <ion-label floating>Middle Name</ion-label>
              <ion-input type="text" formControlName="middlename"></ion-input>
            </ion-item>
            <ion-item *ngIf="!registrationForm.controls.middlename.valid && registrationForm.controls.middlename.touched">
              <p>Please enter a valid middle name.</p>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-md-6>
          <ion-list>
            <ion-item no-lines>
              <ion-label floating>Suffix Name</ion-label>
              <ion-input type="text" formControlName="suffixname"></ion-input>
            </ion-item>
            <ion-item *ngIf="!registrationForm.controls.suffixname.valid && registrationForm.controls.suffixname.touched">
              <p>Please enter a valid suffix name.</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-md-6>
          <ion-list>
            <ion-item no-lines>
              <ion-label floating>Contact Number</ion-label>
              <ion-input type="text" formControlName="contactNumber"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-md-6>
          <ion-list>
            <ion-item no-lines>
              <ion-label floating>Address</ion-label>
              <ion-input type="text" formControlName="address"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item no-lines>
              <ion-label floating>Question #1</ion-label>
              <ion-input type="text" formControlName="question1"></ion-input>
            </ion-item>
            <ion-item *ngIf="!registrationForm.controls.question1.valid && registrationForm.controls.question1.touched">
              <p>Required, please specify your first question.</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-label floating>Answer #1</ion-label>
            <ion-input type="text" formControlName="answer1"></ion-input>
          </ion-item>
          <ion-item *ngIf="!registrationForm.controls.answer1.valid && registrationForm.controls.answer1.touched">
            <p>Required, please specify the answer in your first question.</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item no-lines>
              <ion-label floating>Question #2</ion-label>
              <ion-input type="text" formControlName="question2"></ion-input>
            </ion-item>
            <ion-item *ngIf="!registrationForm.controls.question2.valid && registrationForm.controls.question2.touched">
              <p>Required, please specify your second question.</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-label floating>Answer #2</ion-label>
            <ion-input type="text" formControlName="answer2"></ion-input>
          </ion-item>
          <ion-item *ngIf="!registrationForm.controls.answer2.valid && registrationForm.controls.answer2.touched">
            <p>Required, please specify the answer of your second question.</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <button ion-button full (click)="register()">Register</button>
    </form>
  </ion-grid>
</ion-content>
