<ion-header>

  <ion-navbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-searchbar #patientSearchBar debounce="450" placeholder="Patient Search" (ionInput)="ptSearch.onSearch($event, [dInf])" *showItBootstrap="['md', 'lg', 'xl']"></ion-searchbar>

    <ion-buttons end *ngIf="selectedNode">
      <button ion-button icon-start>
        <ion-icon name="calendar"></ion-icon>
      </button>
      <button class="button-w-100" ion-button icon-start (click)="changeNode()">
        <ion-icon name="compass"></ion-icon>
        <span class="overflow-text">{{selectedNode.alias}}</span>
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-toolbar *showItBootstrap="['xs', 'sm' ]">
    <ion-searchbar #patientSearchBar debounce="450" placeholder="Patient Search" (ionInput)="ptSearch.onSearch($event, [dInf])"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <ng-container *showItBootstrap="['md', 'lg', 'xl']">

    <ion-list>
      <ion-item *ngFor="let drApt of apt.listAppointments(ptSearch.searchTerms)">
        <ion-grid *ngIf="drApt.apt.length > 0">
          <ion-row class="grid-row">
            <ion-col col-3>Patient Name</ion-col>
            <ion-col>Arrival Time</ion-col>
            <ion-col>Blood Pressure</ion-col>
            <ion-col>Pulse</ion-col>
            <ion-col>Age</ion-col>
            <ion-col>Contact</ion-col>
            <ion-col>Referral</ion-col>
            <ion-col>Payable</ion-col>
          </ion-row>
          <ion-row class="grid-row" *ngFor="let apt of drApt.apt" (dblclick)="patientAPT(apt)">
            <ion-col col-3>{{pt.patientNameString(apt.patient.patient)}}</ion-col>
            <ion-col>{{common.toLocaleTimeString(apt.appointment.arrivalTime)}}</ion-col>
            <ion-col>{{apt.appointment.bloodPressure}}</ion-col>
            <ion-col>{{apt.appointment.pulse}}</ion-col>
            <ion-col>{{age.singleAgeString(apt.patient.patient)}}</ion-col>
            <ion-col>{{apt.patient.patient.contactMobile}}</ion-col>
            <ion-col>{{apt.patient.patient.referredby}}</ion-col>
            <ion-col>{{apt.appointment.payable}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <div class="spinner-container" *ngIf="ptSearch.searchTerms.length > 0 && ptSearch.searchedPatients.length < 1">
      <ion-spinner></ion-spinner>
    </div>

    <ion-list *ngIf="ptSearch.searchedPatients.length > 0">
      <ion-item>PATIENT LISTS</ion-item>
      <ion-item *ngFor="let searched of ptSearch.searchedPatients">
        <ion-grid *ngIf="searched.patients.length > 0">
          <ion-row class="grid-row">
            <ion-col col-3>Patient Name</ion-col>
            <ion-col>Nick Name</ion-col>
            <ion-col>Sex</ion-col>
            <ion-col>Age</ion-col>
            <ion-col>Marital Status</ion-col>
            <ion-col>Contact</ion-col>
            <ion-col>Referred By</ion-col>
            <ion-col>Registration</ion-col>
          </ion-row>
          <ion-row class="grid-row" *ngFor="let pc of searched.patients" (dblclick)="patientOpen(pc)">
            <ion-col col-3>{{pt.patientNameString(pc.patient)}}</ion-col>
            <ion-col>{{pc.patient.name.nick}}</ion-col>
            <ion-col>{{Sex[pc.patient.sex]}}</ion-col>
            <ion-col>{{age.singleAgeString(pc.patient)}}</ion-col>
            <ion-col>{{MaritalStatus[pc.patient.maritalStatus]}}</ion-col>
            <ion-col>{{pc.patient.contactMobile}}</ion-col>
            <ion-col>{{pc.patient.referredby}}</ion-col>
            <ion-col>{{pc.patient.registration}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

  </ng-container>

  <ng-container *showItBootstrap="['xs', 'sm']">

    <ion-list *ngFor="let drApt of apt.listAppointments(ptSearch.searchTerms)">
      <ng-container *ngIf="drApt.apt.length > 0">
        <ion-list>
          <button ion-item *ngFor="let apt of drApt.apt" (click)="patientAPT(apt)">
            {{pt.patientNameString(apt.patient.patient)}}
          </button>
        </ion-list>
      </ng-container>
    </ion-list>

    <div class="spinner-container" *ngIf="ptSearch.searchTerms.length > 0 && ptSearch.searchedPatients.length < 1">
      <ion-spinner></ion-spinner>
    </div>

    <ng-container *ngIf="ptSearch.searchedPatients.length > 0">
      <ion-list>
        <ion-item no-lines>
          PATIENT LISTS
        </ion-item>

        <ng-container *ngFor="let searched of ptSearch.searchedPatients">
          <ng-container *ngIf="searched.patients.length > 0">

            <ion-list>
              <button ion-item *ngFor="let pc of searched.patients" (click)="patientOpen(pc)">
                {{pt.patientNameString(pc.patient)}}
              </button>
            </ion-list>

          </ng-container>
        </ng-container>
      </ion-list>
    </ng-container>

  </ng-container>

</ion-content>
