// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in 'theme/variables.scss'.
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$grid-header-color: color($colors, primary);

.active-highlight {
  background-color: map-get($colors, light);
}

.button-w-100 {
  max-width: 150px;
}

.overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-row {
  border-bottom: 1px solid $grid-header-color;
}

.spinner-container {
  padding: 10px;
  text-align: center;
  width: 100%;
}
