<ion-menu id="main-menu" [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" [class.active-highlight]="getActivePage(p)" (click)="openPage(p)">
        <ion-icon name={{p.icon}} item-left></ion-icon>{{p.title}}
      </button>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-list>
      <button menuClose ion-item (click)="logout()">Logout</button>
    </ion-list>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
