<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid wrap>
    <ion-row *ngIf="isDoctor">

      <ion-col col-12 col-xl-4 col-md-6>
        <ion-item-group>
          <ion-item-divider color="light">
            Secretaries
            <button ion-button icon-only item-right clear (click)="secretaryOptions($event)">
              <ion-icon name="more" style="zoom:1.5"></ion-icon>
            </button>
          </ion-item-divider>
          <ion-item *ngFor="let s of secList">
            <ion-label>{{s.name}}</ion-label>
            <ion-checkbox [(ngModel)]="s._deleted"></ion-checkbox>
          </ion-item>
        </ion-item-group>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col col-12 col-xl-4 col-md-6>
        <ion-item-group>
          <ion-item-divider color="light">
            Titles
            <button ion-button icon-only item-right clear (click)="titlePopover($event)">
              <ion-icon name="more" style="zoom:1.5"></ion-icon>
            </button>
          </ion-item-divider>
          <div class="card-wrapper">
            <div class="card-content">
              <ion-scroll class="scroll-wrapper" scrollY="true">
                <ion-list>
                  <ion-item *ngFor="let t of _titles.titleList">
                    <ion-label>{{t.title}}</ion-label>
                    <ion-checkbox [(ngModel)]="t._deleted"></ion-checkbox>
                  </ion-item>
                </ion-list>
              </ion-scroll>
            </div>
          </div>
        </ion-item-group>
      </ion-col>

      <ion-col col-12 col-xl-4 col-md-6>
        <ion-item-group>
          <ion-item-divider color="light">
            Religion
            <button ion-button icon-only item-right clear (click)="religionPopover($event)">
              <ion-icon name="more" style="zoom:1.5"></ion-icon>
            </button>
          </ion-item-divider>
          <div class="card-wrapper">
            <div class="card-content">
              <ion-scroll class="scroll-wrapper" scrollY="true">
                <ion-list>
                  <ion-item *ngFor="let r of _religions.religionList">
                    <ion-label>{{r.religion}}</ion-label>
                    <ion-checkbox [(ngModel)]="r._deleted"></ion-checkbox>
                  </ion-item>
                </ion-list>
              </ion-scroll>
            </div>
          </div>
        </ion-item-group>
      </ion-col>

      <ion-col col-12 col-xl-4 col-md-6>
        <ion-item-group>
          <ion-item-divider color="light">
            Languages
            <button ion-button icon-only item-right clear (click)="langPopover($event)">
              <ion-icon name="more" style="zoom:1.5"></ion-icon>
            </button>
          </ion-item-divider>
          <div class="card-wrapper">
            <div class="card-content">
              <ion-scroll class="scroll-wrapper" scrollY="true">
                <ion-list>
                  <ion-item *ngFor="let l of _langs.langList">
                    <ion-label>{{l.language}}</ion-label>
                    <ion-checkbox [(ngModel)]="l._deleted"></ion-checkbox>
                  </ion-item>
                </ion-list>
              </ion-scroll>
            </div>
          </div>
        </ion-item-group>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
