page-setting {
  .card-wrapper {
    box-sizing: border-box;
    height: 300px;
  }

  .card-content {
    height: 100%;
    margin: 0;
    width: 100%;
  }

  .scroll-wrapper {
    height: 100%;
  }
}
