<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Patient</ion-title>

    <ion-buttons end>
      <button ion-button icon-start *ngIf="!aptComplete" (click)="patientSave(false)">
        <ion-icon name="bookmark"></ion-icon>
        <ng-container *showItBootstrap="['md', 'lg', 'xl']">
          Save
        </ng-container>
      </button>
      <button ion-button icon-start *ngIf="!apptId" (click)="patientSave(true)">
        <ion-icon name="attach"></ion-icon>
        <ng-container *showItBootstrap="['md', 'lg', 'xl']">
          Appoint
        </ng-container>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-list no-lines>
      <form [formGroup]="patientProfileForm">
        <ion-row>

          <ion-col col-12 col-xl-6>

            <ion-row>
              <ion-col>
                <ion-item no-padding>
                  <ion-label floating>Title</ion-label>
                  <ion-select interface="popover" formControlName="title">
                    <ion-option *ngFor="let t of _titles.titleList">
                      {{t.title}}
                    </ion-option>
                  </ion-select>
                </ion-item>
                <ion-item class="error" *ngIf="isFieldValid('title')">
                  <p>Please select a valid title.</p>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item no-padding>
                  <ion-label floating>Suffix Name</ion-label>
                  <ion-input type="text" formControlName="suffixname"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item no-padding>
                  <ion-label floating>First Name</ion-label>
                  <ion-input type="text" formControlName="firstname"></ion-input>
                </ion-item>
                <ion-item class="error" *ngIf="isFieldValid('firstname')">
                  <p>Please provide a valid first name.</p>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item no-padding>
                  <ion-label floating>Last Name</ion-label>
                  <ion-input type="text" formControlName="lastname"></ion-input>
                </ion-item>
                <ion-item class="error" *ngIf="isFieldValid('lastname')">
                  <p>Please provide a valid last name.</p>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item no-padding>
                  <ion-label floating>Middle Name</ion-label>
                  <ion-input type="text" formControlName="middlename"></ion-input>
                </ion-item>
                <ion-item class="error" *ngIf="isFieldValid('middlename')">
                  <p>Please provide a valid middle name.</p>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item no-padding>
                  <ion-label floating>Nick Name</ion-label>
                  <ion-input type="text" formControlName="nickname"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item no-padding>
                  <ion-label floating>Sex</ion-label>
                  <ion-select interface="popover" formControlName="sex">
                    <ion-option value="0">Male</ion-option>
                    <ion-option value="1">Female</ion-option>
                  </ion-select>
                </ion-item>
                <ion-item class="error" *ngIf="isFieldValid('sex')">
                  <p>Please provide the valid patient sex.</p>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item no-padding>
                  <ion-label floating>Marital Status</ion-label>
                  <ion-select interface="popover" formControlName="maritalStatus">
                    <ion-option value="0">Single</ion-option>
                    <ion-option value="1">Married</ion-option>
                    <ion-option value="2">Widow</ion-option>
                    <ion-option value="3">Separated</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item no-padding>
                  <ion-label fixed>Birthdate</ion-label>
                  <!-- <ion-input type="text" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}" formControlName="birthdate"></ion-input> -->
                  <ion-input type="date" formControlName="birthdate"></ion-input>
                </ion-item>
                <ion-item class="error" *ngIf="isFieldValid('birthdate')">
                  <p>Please provide the patient birthdate.</p>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item no-padding>
                  <ion-label floating>Language</ion-label>
                  <ion-select interface="popover" formControlName="language">
                    <ion-option *ngFor="let l of _langs.langList">
                      {{l.language}}
                    </ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item no-padding>
                  <ion-label floating>Religion</ion-label>
                  <ion-select interface="popover" formControlName="religion">
                    <ion-option *ngFor="let r of _religions.religionList">
                      {{r.religion}}
                    </ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item no-padding>
                  <ion-label floating>Occupation</ion-label>
                  <ion-input type="text" formControlName="occupation"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item no-padding>
                  <ion-label floating>City/Municipality</ion-label>
                  <ion-select interface="popover" formControlName="city">
                    <ion-option>Test 1</ion-option>
                    <ion-option>Test 1</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item no-padding>
                  <ion-label floating>Address</ion-label>
                  <ion-input type="text" formControlName="address"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>

                <ion-item>
                  <ion-segment formControlName="additionalInfo" [(ngModel)]="additionalInfo" color="primary">
                    <ng-container *showItBootstrap="['md', 'lg', 'xl']">
                      <ion-segment-button value="contact">
                        Contact Information
                      </ion-segment-button>
                      <ion-segment-button value="parent">
                        Parent Information
                      </ion-segment-button>
                      <ion-segment-button value="other">
                        Other Information
                      </ion-segment-button>
                    </ng-container>
                    <ng-container *showItBootstrap="['xs', 'sm']">
                      <ion-segment-button value="contact">
                        Contact
                      </ion-segment-button>
                      <ion-segment-button value="parent">
                        Parent
                      </ion-segment-button>
                      <ion-segment-button value="other">
                        Other
                      </ion-segment-button>
                    </ng-container>
                  </ion-segment>
                </ion-item>

                <ion-list no-lines [hidden]="additionalInfo !== 'contact'">
                  <ion-row>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Mobile</ion-label>
                        <ion-input type="text" formControlName="contactMobile"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Home</ion-label>
                        <ion-input type="text" formControlName="contactHome"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Email</ion-label>
                        <ion-input type="text" formControlName="contactEmail"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Office</ion-label>
                        <ion-input type="text" formControlName="contactOffice"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-list>

                <ion-list no-lines [hidden]="additionalInfo !== 'parent'">
                  <ion-row>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Father</ion-label>
                        <ion-input type="text" formControlName="father"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Mother</ion-label>
                        <ion-input type="text" formControlName="mother"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Guardian</ion-label>
                        <ion-input type="text" formControlName="guardian"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-list>

                <ion-list no-lines [hidden]="additionalInfo !== 'other'">
                  <ion-row>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Referred By</ion-label>
                        <ion-input type="text" formControlName="referredby"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-list>

              </ion-col>
            </ion-row>

          </ion-col>

          <ion-col col-12 col-xl-6>

            <ion-row>
              <ion-col col-12 col-xl-4>
                <ion-item no-padding>
                  <ion-img width="200px" height="200px" src="..."></ion-img>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item no-padding>
                  <ion-label floating>Allergies</ion-label>
                  <ion-textarea rows="7" formControlName="allergies"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>

                <ion-item>
                  <ion-segment formControlName="medicalProfileInfo" [(ngModel)]="medicalProfileInfo">
                    <ng-container *showItBootstrap="['md', 'lg', 'xl']">
                      <ion-segment-button value="vital-sign">
                        Vital Sign
                      </ion-segment-button>
                      <ion-segment-button value="medical-profile">
                        Medical Profile
                      </ion-segment-button>
                      <ion-segment-button value="scanned-file">
                        Scanned File
                      </ion-segment-button>
                    </ng-container>
                    <ng-container *showItBootstrap="['xs', 'sm']">
                      <ion-segment-button value="vital-sign">
                        Vital Sign
                      </ion-segment-button>
                      <ion-segment-button value="medical-profile">
                        Med. Prof.
                      </ion-segment-button>
                      <ion-segment-button value="scanned-file">
                        Scanned
                      </ion-segment-button>
                    </ng-container>
                  </ion-segment>
                </ion-item>

                <ion-list no-lines [hidden]="medicalProfileInfo !== 'vital-sign'">

                  <ion-row>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Arrival Time</ion-label>
                        <ion-datetime displayFormat="hh:mm A" pickerFormat="hh:mm A" formControlName="arrivalTime"></ion-datetime>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Schedule Status</ion-label>
                        <ion-select interface="popover" formControlName="scheduleStatus">
                          <ion-option value="0">Waiting</ion-option>
                          <ion-option value="1">Confirmed</ion-option>
                          <ion-option value="2">Canceled</ion-option>
                        </ion-select>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Blood Pressure</ion-label>
                        <ion-input type="text" formControlName="bloodPressure"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Weight</ion-label>
                        <ion-input type="text" formControlName="weight"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Height</ion-label>
                        <ion-input type="text" formControlName="height"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Pulse</ion-label>
                        <ion-input type="text" formControlName="pulse"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Temperature</ion-label>
                        <ion-input type="text" formControlName="temp"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Resperation</ion-label>
                        <ion-input type="text" formControlName="resp"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Waist</ion-label>
                        <ion-input type="text" formControlName="waist"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Hip</ion-label>
                        <ion-input type="text" formControlName="hip"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Patient Complaint</ion-label>
                        <ion-textarea rows="5" formControlName="patientComplaint"></ion-textarea>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item no-padding>
                        <ion-label floating>Notes</ion-label>
                        <ion-textarea rows="5" formControlName="appointmentNotes"></ion-textarea>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-list>

              </ion-col>
            </ion-row>

          </ion-col>

        </ion-row>
      </form>
    </ion-list>
  </ion-grid>

</ion-content>
